.sg-slider {
    &-started & {
    &__wrapper {
            display: flex;
            flex-wrap: nowrap;

            .sg-slider__slide {
                flex: 0 0 45%;
            }
        }
    }
    
}