//breakpoints
$breakpoints: (   
    xl: 1280px,
    l: 1024px,
    m: 850px,
    sm: 768px,
    s: 576px,
    xs: 480px,
);

$layout-columns: 6;

/// spacing
$spacings: (
    6: var(--sg--preset--spacing--6, 4rem),
    5: var(--sg--preset--spacing--5, 3rem),
    4: var(--sg--preset--spacing--4, 2.5rem),
    3: var(--sg--preset--spacing--3, 2rem),
    2: var(--sg--preset--spacing--2, 1.5rem),
    1: var(--sg--preset--spacing--1, 1rem),
    0: var(--sg--preset--spacing--0, 0),
);

///fontsizes
$font-sizes: (
    xxs: var(--sg--preset--font-size--xxs, 0.75rem),
    xs: var(--sg--preset--font-size--xs, 0.85rem),
    s: var(--sg--preset--font-size--s, 1rem),
    sm: var(--sg--preset--font-size--sm, 1.25rem),
    m: var(--sg--preset--font-size--m, 1.5rem),
    l: var(--sg--preset--font-size--l, 1.75rem),
    xl: var(--sg--preset--font-size--xl, 2rem),
    xxl: var(--sg--preset--font-size--xxl, 3rem),
);

$colors: (
    text: var(--sg--preset--color--text),
    text-light: var(--sg--preset--color--text-light),
    text-xlight: var(--sg--preset--color--text-xlight),
    primary: var(--sg--preset--color--primary),
    primary-dark: var(--sg--preset--color--primary-dark),
    primary-light: var(--sg--preset--color--primary-light),
    primary-xlight: var(--sg--preset--color--primary-xlight),
    primary-xdark: var(--sg--preset--color--primary-xdark),
    accent: var(--sg--preset--color--accent),
    accent-light: var(--sg--preset--color--accent-light),
    accent-xlight: var(--sg--preset--color--accent-xlight),
    accent-dark: var(--sg--preset--color--accent-dark),
    accent-xdark: var(--sg--preset--color--accent-xdark),
    bg: var(--sg--preset--color--bg),
    bg-2: var(--sg--preset--color--bg-2),
);

$font-families: (
    body: var(--sg--preset--font-family--body, --wp--preset--font-family--body),
    heading: var(--sg--preset--font-family--heading, --wp--preset--font-family--heading),
);

$border-radiuses: (
    1: 0.25rem,
    2: 0.5rem,
    3: 1.25rem,
    4: 2.5,
)