.sg-image-control {
  margin: 10px;
  aspect-ratio: 3/2;
  overflow: hidden;
  max-width: 320px;
  border-radius: 10px;

  &__container {
    cursor: pointer;
    position: relative;
    height: 100%;
    > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .dashicons {
      z-index: 1;
      position: absolute;
      color: white;
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 50%;
      height: 30px;
      width: 30px;
      display: grid;
      place-items: center;
      top: 10px;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .dashicons-no {
      right: 10px;
    }

    .dashicons-edit {
      right: 50px;
    }
    &:hover {
      .dashicons {
        opacity: 1;
      }
    }

    @media (hover: none) {
      .dashicons {
        opacity: 1;
      }
    }
  }
}

.sg-image-control-add {
  border-radius: 10px;
  padding: 20px 20px;
  border: 1px darkgray dashed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  aspect-ratio: 3/2;
  cursor: pointer;
  .dashicons {
    display: contents;
    margin-bottom: 10px;
    font-size: 4rem;
    color: lightgrey;
  }
}