.sg-gallery {
  display: block;
  position: relative;

  &:hover {
    .sg-gallery__nav {
      opacity: 1;
    }
  }

  /**
* Slideshow general
**/
  &--slideshow-initialized & {
    &__images,
    &__thumbs {
      overflow: hidden;
      width: 100%;
      position: relative;
      cursor: grab;
    }

    &__wrapper {
      display: flex;
      flex-wrap: nowrap;
      column-gap: 10px;
      height: 100%;
    }

    &__img,
    &__thumb {
      user-select: none;
      touch-action: pan-x;
      flex-shrink: 0;
    }

    &__images {
      aspect-ratio: 16 / 9;

      &.is-first {
        .sg-gallery__nav[data-direction="prev"] {
          visibility: hidden;
          opacity: 0;
        }
      }

      &.is-last {
        .sg-gallery__nav[data-direction="next"] {
          visibility: hidden;
          opacity: 0;
        }
      }
    }
    &__img {
      flex: 0 0 100%;
    }

    &__thumbs {
      margin-top: 10px;
      &.no-translate {
        .sg-gallery__wrapper {
          justify-content: center;
        }
      }
      .sg-gallery__wrapper {
        column-gap: 5px;
      }
      .sg-gallery__thumb {
        flex: 0 0 120px;
        width: 150px;
        aspect-ratio: 4 / 3;
        transition: opacity 0.3s ease-in-out;

        &:not(.is-active) {
          opacity: 0.85;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: opacity 0.3s ease-in-out;
        }
      }
    }
  }

  /**
* Slideshow with legends
**/
  &--slideshow[data-legends="true"] & {
    &__img {
      figcaption {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        color: var(--sg--preset--color--bg, white);
        padding: 10px 20px;
        z-index: 1;
        box-sizing: border-box;
        display: block;
        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.7;
          background-color: var(--sg--preset--color--primary, black);
          z-index: -1;
        }
      }
    }
  }

  /**
* Gallery general styles
**/
  &:not(.sg-gallery--slideshow-initialized) & {
    &__images {
      cursor: pointer;
      display: grid;
    }
    &__thumbs {
      display: none;
    }

    &__wrapper {
      display: contents;
    }

    &__nav {
      display: none;
    }

    &__images {
      grid-auto-rows: min(max(12vh, 12vw), 200px);
    }
  }

  /**
* Gallery with lightbox
**/
  &:not(.sg-gallery--slideshow-initialized)[data-lightbox="true"] & {
    &__images:hover {
      .sg-gallery__img {
        opacity: 1;
        &:not(:hover) {
          opacity: 0.5;
        }
      }
    }
    &__img {
      transition: all 0.3s ease-in-out;
    }
  }

  /**
* Images container general style
**/
  &__img,
  &__thumb {
    position: relative;
    overflow: hidden;
    background: transparent;
    transition: background-color 0.3s ease-in-out;
    margin: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
      transition: opacity 0.5s ease-in-out;
      position: absolute;
      z-index: 1;
    }

    .sg-lazyload-placeholder {
      top: 0;
      left: 0;
      z-index: 0;
      filter: blur(5px);
    }
  }
  &__img {
    figcaption {
      display: none;
    }
  }

  /**
* Image Cotnainer not loaded style
**/
  &__img[data-loaded="false"],
  &__thumb[data-loaded="false"] {
    background-color: var(--sg--preset--color--bg-2, lightgrey);

    img:not(.sg-lazyload-placeholder) {
      opacity: 0;
    }
  }

  &__nav {
    position: absolute;
    z-index: 3;
    top: 0;
    width: 75px;
    height: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
    color: var(--sg--preset--color--bg, white);
    font-size: 50px;
    background-color: transparent;
    border: none;
    transition: opacity 0.3s 0.2s ease-in-out;
    opacity: 0;

    &[data-direction="prev"] {
      left: 0;

      &::after {
        transform: rotate(180deg);
      }
    }

    &[data-direction="next"] {
      right: 0;
    }
  }
}

/**
* Photoswipe styling
**/
.pswp {
  &__dynamic-caption {
    color: #fff;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.12s linear !important;
    width: 100%;
  }

  &__dynamic-caption--aside {
    max-width: 300px;
    padding: 20px 15px 20px 20px;
    margin-top: 70px;
  }

  &__dynamic-caption--below {
    max-width: 700px;
    padding: 15px 0 0;
  }

  &__dynamic-caption--mobile {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    padding: 10px 15px;
    right: 0;
    top: auto;
    width: 100%;
  }
}
