.sg-price {
  &__list {
    border-collapse: collapse;
    width: 100%;
    tr {
      .description {
        font-size: 0.75em;
      }
      .price {
        font-weight: 500;
      }
      .title, .price {
        font-size: 1em;
      }
      &:nth-child(2n) {
        background-color: var(--sg--preset--color--bg-2);
      }
    }
  }
}
