.sg-info {
  position: relative;
  &__list {
    position: relative;
  }
  &__list-item {
    position: relative;
    left: 0;
    list-style: none;
    margin: 0.25rem 0;
    padding: 0.25rem 0.5rem 0.25rem 0.85rem;
    display: grid;
    grid-template-columns: 2.5em 1fr;
    &[class*=" icon-"]::before, [class^="icon-"]::before {
      display: inline;
      font-size: 1.25em;
      color: var(--sg--preset--color--accent, black);
    }
  }
}
