.query-related-tab-panel {
  > .components-tab-panel__tabs {
    border-bottom: solid 1px lightgrey;
    margin-bottom: 1rem;
    .components-tab-panel__tabs-item {
      flex: 1 1 100%;
      justify-content: center;
      &:not(.active-tab) {
        opacity: 0.5;
      }
      &.active-tab {
        border-bottom: 3px solid var(--wp-admin-theme-color, rgb(87, 87, 87));
        color: var(--wp-admin-theme-color, black);
        font-weight: bold;
      }
    }
  }
}

.wp-block-sg-query {
  overflow: hidden;
  max-width: 100%;
  &.is-selected {
    box-shadow: inset 0 0 2px 1px var(--wp-admin-theme-color, grey);
  }

  .sg-query-related {
    &__block-empty, &__empty {
      border: 1px dashed var(--wp-admin-theme-color, grey);
      margin: 0.5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }
  }
}
