.wp-block-sg-downloads {
  width: 100%;
  height: 100%;
  padding: 5px;
  &.is-selected {
    box-shadow: inset 0 0 2px 1px var(--wp-admin-theme-color, grey);
  }
  table {
    border-collapse: collapse;
    width: 100%;
    tr  {
        border: dashed var(--sg--preset--color--secondary-2, grey) 1px;
    }
    td {
        padding: 15px 10px;
    }
  }
}
