.sg-downloads {
  position: relative;
  ul {
    position: relative;

    li {
      list-style: none;
      a {
        text-decoration: none;
        &::before {
          font-size: 1.25em;
          margin-right: 0.65em;
          vertical-align: middle;
          color: var(--sg--preset--color--accent, #f50057);
        }
      }
    }
  }
}
