@import "./partials/utility";
@import "./partials/icons";


[data-loaded="false"]:not(:has(.sg-lazyload-placeholder)),
[data-submit="loading"] {
  &::before {
    content: "";
    animation: spin 1s ease-in-out infinite;
    border: 2px solid var(--sg--preset--color--grey-2, grey);
    border-bottom-color: transparent;
    left: calc(50% - 12.5px);
    top: calc(50% - 12.5px);
    width: 25px;
    height: 25px;
    z-index: 2;
    position: absolute;
    border-radius: 50%;
  }
}

.sg-lazy-image {
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;

  img {
    position: relative;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
    height: 100%;
    width: 100%;
  }

  .sg-lazyload-placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }
  &[data-loaded="false"] {
    background-color: rgba(0, 0, 0, 0.25);
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(10px);
      z-index: 1;
    }
    img:not(.sg-lazyload-placeholder) {
      opacity: 0;
    }
  }
}
.sg-image-container {
  overflow: hidden;
  width: 100%;
}
.sg-image {
  max-width: 100%;
  display: block;
  height: auto;

  &.align-ctr {
    margin-left: auto;
    margin-right: auto;
  }
}

.sg-transition {
  opacity: 0;
}

.sg-appear {
  animation : 0.3s ease-in-out both appear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
