@import "./partials/admin/image-selectors";
@import "./partials/admin/switch-box";
@import "./partials/admin/color-picker";

.sg_inline_auto_save {
  input[type="text"],
  input[type="number"] {
    width: 100%;
  }
  &[data-field=featured] {
    label span.dashicons {
      &::before {
        content: "\f154";
      }
    }
    label input[type=checkbox]:checked + span.dashicons {
      &::before {
        content: "\f155";
      }
    }
  }
}
.table-view-list.tags {
  td {
    vertical-align: middle;
    &[data-colname="Description"] {
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 15vh;
      }
    }
  }
}
